.tableContainer {
    overflow-x: auto;
    max-width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
  
    .userTable {
      width: 100%;
      border-collapse: collapse;
      background-color: white;
  
      th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
        white-space: nowrap; // 추가: 줄 바꿈 방지
      }
  
      th {
        background-color: #f0f0f0;
        font-weight: bold;
        color: #333;
      }
  
      tr {
        &:nth-child(even) {
          background-color: #fafafa;
        }
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
  
      .actionButton {
        margin-right: 5px;
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

      .deleteButton {
        background-color: #E2E2E2;
        color: black;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #E2E2E2;
        }
      }
    }
  }